<!DOCTYPE html>

{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>More</title>
	  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">

        
        <div class="row" style="margin-right:0px;margin-left:0px">

            <div class="col-lg-12" style="height:370px; background:black; margin-top: 1px; padding:0px; ">
                <a href="/share/"><i class="fa fa-arrow-left" style="text-align: right; margin-top:5px; margin-left: 5px; color: black;"></i></a>
            </div>
            
        </div>
        <div class="row" style="margin-right:0px;margin-left:0px">
            <div class="col-lg-9" style="background: no-repeat  ;height: 35px;margin-top: 2px;">
                <button style="margin-top:10px;margin-left:30px;">{{user.username}}</button>
            </div>
            <div class="col-lg-3" style="background: no-repeat  ;height: 35px;margin-top: 2px;">
                <button style="margin-top:10px;margin-left:30px;">
                    <a href="/share/create_view/">Share Your Notes In ShareCare</a></button>
            </div>
        </div>


      {% for data in dataset %}.  
    <div class="row" style="margin-right:0px;margin-left:0px;"> 
    <div class="col-lg-12 col-md-12 col-sm-12" style="height: auto;background:greenyellow;margin: 0px;margin-top: 20px;padding: 0px;  box-shadow: 0px 0px 10px 10px; color: black;">  
        

<div class="col-lg-3 col-md-3 col-sm-8" style="height:360px;background:greenyellow; ">
    <img src="{% static 'share/images/c.jpg' %}" alt="c" style="height:200px;width: 100%;margin-top: 20px;">
    <div class="col-lg-12 col-md-12 col-sm-12" style="height:60px;background:no-repeat;margin-top: 20px;text-align: center;">
                        <span style="font-size: 15px;font-style: normal;">{{ data.TitleOfBook}}</span><br><br>
                        
                        <button> <i class="fa fa-download" aria-hidden="true" style="color:black;margin-top: 3px;"></i>
             <b style="margin-left: 10px;font-size: 15px;color: black;">Download Here</b>
             </button>
            </div>


                
</div>
<div class="col-lg-9 col-md-9 col-sm-10" style="height:auto;background:greenyellow;font-family: Helvetica, sans-serif;text-align: justify;color: black;font-size: 15px;">

        
    <p> 
        {{data.DescriptionOfBook}}
</p>

        

</div>


<div class="row" style="margin-right:0px;margin-left:0px">


            <div class="col-lg-2 col-md-2 col-sm-12" style="height:3px;background:no-repeat;margin-top: 15px;"></div>
        <div class="col-lg-6 col-md-5 col-sm-8" style="height:50px;background:no-repeat;margin-top: 19px;">
            <div class="col-lg-2 col-md-1 col-sm-2" style="height:30px;background:no-repeat;margin-top: 10px;">
                <a href="/share/list_view/">
                    <i class="fa fa-eye" aria-hidden="true" style="margin-left: 23px; margin-top:5px;color:darkblue;font-size: 20px;">
             
         </i>
         </a>
    </div>
 
    <div class="col-lg-2 col-md-2 col-sm-2" style="height:30px;background:no-repeat;margin-top: 10px;margin-left: 10px;">
        
        
            <a href="/share/{{data.id}}/update"><li class="fa fa-edit" style="margin-left: 23px; margin-top:6px;color:darkblue; font-size: 20px;">
            </li></a>
    </div>
 
<div class="col-lg-2 col-md-2 col-sm-2" style="height:30px;background: no-repeat;margin-top: 10px;margin-left: 20px;">
       <a href="/share/{{data.id}}/update">
        <i class="fa fa-trash-o" aria-hidden="true" style="margin-left: 20px; margin-top:6px;color:darkblue;font-size: 20px;"></i>
    </a>
    </div>
</div>
</div>
</div>
</div>
 
    </div>

{% endfor %}


     </div>
</body>
</html>