<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">

	<title>Top Current users</title> <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'share/css/ProductSlider.css' %}">
 
	 
</head>
<body>
	<div class="container-fluid">
	<div class="row" id="one">
		<div class="col-lg-12 col-md-12 col-sm-3" id="two">
			<div class="col-lg-12 col-md-12 col-sm-3" id="three">
				<center id="four">Top Current Users<br>
					<i id="five">It helps students “ to become more confident <br>and they thought the opportunities to share took their learning to a whole new level.”</i>
				</center>

			
			</div>
			<div class="for" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
     <div class="row" id="six">
       <div class="col-lg-2 col-md-4 col-sm-3" id="seven">
         <img src="{% static 'share/images\stuff1.jpg' %}" alt="stuff1" height="190px" width="90%" id="eight">
       <p id="nine">Sonal Rajput</p>
        </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="ten">
         <img src="{% static 'share/images\stuff10.webp' %}" alt="stuff10"  height="190px" width="95%" id="eleven">
          <p id="twelve">Aditya Gupta</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="thirteen">
         <img src="{% static 'share/images\stuff3.jpeg' %}" alt="stuff3" height="190px" width="95%" id="fourteen">
        <p id="fifteen">Riya Sharma</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="sixteen">
         <img src="{% static 'share/images\stuff4.jpg' %}" alt="stuff4" height="190px" width="90%" id="seventeen">
          <p id="eighteen">Aadhya Pandey</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="nineteen">
         <img src="{% static 'share/images\stuff9.jpg' %}" alt="stuff9" height="190px" width="95%" id="twenty">
         <p id="twenty-one">Aman Gupta</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="twenty-two">
         <img src="{% static 'share/images\stuff6.jpg' %}" alt="stuff6" height="190px" width="95%" id="twenty-three">
        <p id="twenty-four">Priya Shukla</p>
       
       </div>
     </div>
    </div>
    <div class="carousel-item">
     <div class="row" id="twenty-five">
       <div class="col-lg-2 col-md-4 col-sm-3" id="twenty-six">
         <img src="{% static 'share/images\stuff7.jpg' %}" alt="stuff7" height="190px" width="95%" id="twenty-seven">
        <p id="twenty-eight">Bhavya Gupta</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="twenty-nine">
         <img src="{% static 'share/images\stuff8.jpg' %}" alt="stuff8" height="190px" width="95%" id="thirty">
         <p id="thirty-one">Palak Tiwari</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="thirty-two">
         <img src="{% static 'share/images\stuff9.jpg' %}" alt="stuff9" height="190px" width="95%" id="thirty-three">
          <p id="thirty-four">Aman Gupta</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="thirty-five">
         <img src="{% static 'share/images\stuff2.jpg' %}" alt="stuff2" height="190px" width="95%" id="thirty-six">
           <p id="thirty-seven">Yuktika Mishra</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="thirty-eight">
         <img src="{% static 'share/images\stuff3.jpeg' %}" alt="stuff3" height="190px" width="95%" id="thirty-nine">
         <p id="fourty">Riya Sharma</p>
        
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="fourty-one">
         <img src="{% static 'share/images\stuff10.webp' %}" alt="stuff10" height="190px" width="95%" id="fourty-two">
          <p id="fourty-three">Aman Gupta</p>
       
       </div>
     </div>
    </div>
    <div class="carousel-item">
     <div class="row" id="fourty-four">
       <div class="col-lg-2 col-md-4 col-sm-3" id="fourty-five">
         <img src="{% static 'share/images\stuff10.webp' %}" alt="stuff10" height="190px" width="95%" id="fourty-six">
       <p id="fourty-seven">Aditya Singh</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="fourty-eight">
         <img src="{% static 'share/images\stuff6.jpg' %}" alt="stuff6" height="190px" width="95%" id="fourty-nine">
        <p id="fifty">Priya Shukla</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="fifty-one">
         <img src="{% static 'share/images\stuff7.jpg' %}" alt="stuff7" height="190px" width="95%" id="fifty-two">
       <p id="fifty-three">Bhavya Gupta</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="fifty-four">
         <img src="{% static 'share/images\stuff5.jpg' %}" alt="stuff5" height="190px" width="95%" id="fifty-five">
         <p id="fifty-six">Aditi Singh</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="fifty-seven">
         <img src="{% static 'share/images\stuff10.webp' %}" alt="stuff10" height="190px" width="95%" id="fifty-eight">
          <p id="fifty-nine">Aman Gupta</p>
       
       </div>
       <div class="col-lg-2 col-md-4 col-sm-3" id="sixty">
         <img src="{% static 'share/images\stuff2.jpg' %}" alt="stuff2" height="190px" width="95%" id="sixty-one">
          <p id="sixty-two">Yuktika Mishra</p>
       
       </div>
       
     </div>
   
    </div>

   
  
</div>
</div>
<div class="row" id="sixty-three">
 <div class="col-lg-5 col-md-5" id="sixty-four"></div>
    <div class="col-lg-2 col-md-2 " id="sixty-five">
    	
      <button class="btn-2" id="sixty-six"><a href="/share/explore/">Explore All</a></button> 

    </div>
    <div class="col-lg-5 col-md-5" id="sixty-seven"></div> 
  	</div>
	 

		</div>
	</div>
	</div>
  
   				 
</body>
</html>