<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Current Users</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'share/css/StaticPage.css' %}">
		
	</head>
<body>
	<div class="container-fluid ">
		<div id="u-one">
	
	
		<div class="row" id="u-two">
	       <div class="col-lg-12 col-md-12" id="u-three">
		      <h1 id="u-four"> Latest Notes:</h1>
	      </div>
	     
		</div>
<div class="row" id="u-five">
	<div class="col-lg-2 col-md-4 " id="u-six">
		 <img src="{% static 'share/images\c.jpg' %}" alt="c" height="190px" width="95%" id="u-seven">
		 	<p id="u-eight">C PROGRAMMING</p>
     		 <input type="button" value="View" id="u-nine">
		
     </div>
     <div class="col-lg-2 col-md-4" id="u-ten">
         <img src="{% static 'share/images\dbms.jpg' %}" alt="dbms" height="190px" width="95%" id="u-eleven">
         <p id="u-twelve">DBMS</p>
     		 <input type="button" value="View" id="u-thirteen">
		
       </div>

        <div class="col-lg-2 col-md-4" id="u-fourteen">
         <img src="{% static 'share/images\C++.png' %}" alt="c++" height="190px" width="95%" id="u-fifteen">
         <p id="u-sixteen">C++</p>
     		 <input type="button" value="View" id="u-seventeen">
		
       </div>

        <div class="col-lg-2 col-md-4" id="u-eighteen">
         <img src="{% static 'share/images\java.png' %}" alt="java" height="190px" width="95%" id="u-nineteen">
         <p id="u-twenty">JAVA</p>
     		 <input type="button" value="View" id="u-twenty-one">
		
       </div>
   
   		<div class="col-lg-2 col-md-4" id="u-twenty-two">
         <img src="{% static 'share/images\DS.jpeg' %}" alt="ds" height="190px" width="95%" id="u-twenty-three">
         <p id="u-twenty-four">DS</p>
     		 <input type="button" value="View" id="u-twenty-five">
		
       </div>
   		<div class="col-lg-2 col-md-4" id="u-twenty-six">
         <img src="{% static 'share/images\html.jpg' %}" alt="html" height="190px" width="95%" id="u-twenty-seven">
         <p id="u-twenty-eight">HTML</p>
     		 <input type="button" value="View" id="u-twenty-nine">
		
       </div>
   

</div>
	<div class="row" id="u-thirty">
		<div class="col-lg-12 col-md-12" id="u-thirty-one">
					<center><button class="btn-2" id="u-thirty-two"> More</button>
</center>
		</div>
	</div>
</div>
</div>
</body>
</html>